.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  border-bottom: 2px solid #121212;
}

img{
    width: 280px;
}

.cursor-pointer{
  cursor: pointer;
}
