<section class="chat" >
  `<div class="voice-chat">
    <button (click)="startCall()">Start Call</button>
    <audio #audioElement autoplay></audio>
  </div>`
    <div class="chat-header">
      <span [ngClass]="{'d-none':mobileCheckService.isMobile() === false}" (click)="sendData()"><i class="bi bi-arrow-left"></i>BACK</span>
      <h2>{{ channelName }}</h2>
    </div>

    <div class="messages" #chat>
      <div *ngFor="let message of messages" class="message">
        <strong>{{ message.username }}:</strong> {{ message.content }}
      </div>
    </div>
    <div class="form">
      <input type="text" (keydown.enter)="sendMessage()" [(ngModel)]="message" placeholder="Mesajınızı yazın..." />
      <button (click)="sendMessage()"  type="submit">Gönder</button>
    </div>
</section>