@use '/styles/theme' as theme;

// Genel stil
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: theme.get-color("background"); // Koyu tema
}

// Kart tasarımı
.login-card {
  background: theme.get-color("background");;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px;
  text-align: center;
}

// Form elemanları
.form-label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #d1d1d1;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 6px;
  background: #2b2b2b;
  color: #ffffff;
  font-size: 0.9rem;
  transition: border 0.3s;

  &:focus {
    border-color: #6d5dfc;
    outline: none;
  }
}

// Buton
.login-btn {
  width: 100%;
  background: theme.get-color("primary");;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: theme.get-color("secondary");;
  }
}

// Footer kısmı
p a {
  color: theme.get-color("secondary");
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.footer{
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #b0b0b0;
}