<div class="container-fluid d-flex justify-content-center align-items-center vh-100 bg-dark">
  <div class="card p-4 shadow-lg login-card">
    <div>
      <img class="w-100" src="assets/logo/chatana-logo.png" alt="">
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-3">
      <div class="mb-3">
        <label for="username" class="form-label text-light">E-mail</label>
        <input id="username" type="text" formControlName="username" class="form-control bg-dark text-light " />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-light">Şifre</label>
        <input id="password" type="password" formControlName="password" class="form-control bg-dark text-light " />
      </div>
      <button type="submit" class="btn w-100 login-btn">Giriş Yap</button>
    </form>

    <p class="footer">
      Hesabın yok mu ? <app-button [routerLink]="'/register'" [label]="'Kayıt Ol'" [class]="'login-btn-primary'"></app-button>
    </p>
  </div>
</div>