<app-dashboard-header></app-dashboard-header>
<div class="dashboard-container">
  <!-- Sol Menü: Kanallar -->
  <div
    class="servers-container"
    [ngClass]="{
      'd-none': chatDisplayStatus && this.mobileCheckService.isMobile() === true
    }"
  >
    <aside class="sidebar">
      <div class="sidebar-header">
        <h2>Sunucular</h2>
        <button class="add-channel-btn" (click)="openAddServerModal()">
          <i class="bi bi-patch-plus-fill"></i>
        </button>
      </div>

      <ul *ngIf="serverList$ | async as serverList">
        <li
          *ngFor="let server of serverList"
          [class.active]="selectedServer === server.id"
          (click)="selectServer(server)"
        >
          <span>
            <i class="bi bi-chat-left-text-fill"></i>
            {{ server.name }}
          </span>
        </li>
      </ul>
    </aside>
    <!-- Orta Bölüm: Odalar -->
    <ng-container *ngIf="channels$ | async as channels">
      <section class="rooms" *ngIf="channels.length > 0">
        <h2>Odalar</h2>
        <ul>
          <ng-container *ngFor="let channel of channels">
            <li (click)="selectChannel(channel)">
              {{ channel.name}}
              <span class="text-success p-1">({{ channel.id ? (usersInChannel?.[channel.id]?.length || 0) : 0}})</span>
            </li>
            <ul *ngIf="channel.id">
              <ng-container *ngIf="usersInChannel?.[channel.id]">
                <li *ngFor="let user of usersInChannel[channel.id]; index as i">
                  <i class="bi bi-person-fill"></i>
                  <span>{{ user.name }} {{ speakingUsers[channel.id]?.[user] ? "🔊" : "" }}</span>
                  <ng-container *ngIf="volumeDisplayCondition(channel.id, i)">
                    <input  type="range" min="0" max="1" step="0.03" [value]="getCurrentVolume(usersInChannel[channel.id+'-voice']?.[i]?.peerId)" (change)="changeVolume($event, usersInChannel[channel.id+'-voice']?.[i].peerId)" />
                  </ng-container>
                </li>
              </ng-container>
            </ul>
          </ng-container>
        </ul>
        <div class="d-flex align-items-center justify-content-center">
          <!-- Mute Button -->
          <button
            (click)="mute()"
            class="mic-toggle-button"
            [class.muted]="!muteStatus"
          >
            <i
              class="bi"
              [ngClass]="muteStatus ? 'bi-mic-fill' : 'bi-mic-mute-fill'"
            ></i>
          </button>
          <!-- Share Screen Button -->
          <button
            (click)="toggleScreenShare()"
            class="screen-share-button"
            [class.active]="(isScreenSharing$ | async)"
          >
            <i
              class="bi"
              [ngClass]="(isScreenSharing$ | async) ? 'bi-display-fill' : 'bi-display'"
            ></i>
          </button>
        </div>
      </section>
    </ng-container>
  </div>

  <!-- Sağ Bölüm: Mesajlaşma Alanı -->
  <ng-container *ngIf="channelChange$ | async as selectedChannel">
    <app-chat
      (backStatus)="toggleStatus()"
      [ngClass]="{
        'd-none':
          !chatDisplayStatus && this.mobileCheckService.isMobile() === true
      }"
      [channelId]="selectedChannel.id"
      [channelName]="selectedChannel.name"
    ></app-chat>
  </ng-container>
</div>

<!-- Modal: Kanal Ekleme -->
<div *ngIf="showAddServerModal" class="modal-overlay">
  <div class="modal-channel-add">
    <h3>Yeni Kanal Ekle</h3>
    <input
      type="text"
      [(ngModel)]="newServerName"
      placeholder="Kanal adı girin..."
    />
    <div class="modal-buttons">
      <button class="btn-save" (click)="addServer()">Ekle</button>
      <button class="btn-cancel" (click)="closeAddServerModal()">İptal</button>
    </div>
  </div>
</div>
